name: Publish NuGet

on:
  push:
    tags:
      - "v*.*.*"     # Run only when a version tag is pushed
  workflow_dispatch:

env:
  DOTNET_VERSION: "9.0.x"

jobs:

  publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      # Download artifacts from previous workflow
      - uses: actions/download-artifact@v4
        with:
          name: linux-x64
          path: dotnet/MagikaSharp/runtimes/linux-x64/native/

      - uses: actions/download-artifact@v4
        with:
          name: win-x64
          path: dotnet/MagikaSharp/runtimes/win-x64/native/

      - uses: actions/download-artifact@v4
        with:
          name: osx-arm64
          path: dotnet/MagikaSharp/runtimes/osx-arm64/native/

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Build .NET project
        working-directory: dotnet/MagikaSharp
        run: dotnet build -c Release

      - name: Pack NuGet
        working-directory: dotnet/MagikaSharp
        run: dotnet pack -c Release

      - name: Publish NuGet
        working-directory: dotnet/MagikaSharp
        run: dotnet nuget push "bin/Release/*.nupkg" \
              --source https://api.nuget.org/v3/index.json \
              --api-key ${{ secrets.NUGET_API_KEY }} \
              --skip-duplicate
